<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head> 
        <meta charset="utf-8"> 
        <title>Pinegrow Bootstrap Blocks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="pinegrow, blocks, bootstrap" />
        <meta name="description" content="My new website" />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->         
        <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->         
        <link href="public/css/style-library-1.css" rel="stylesheet">
        <link href="public/css/plugins.css" rel="stylesheet">
        <link href="public/css/blocks.css" rel="stylesheet">
        <link href="public/css/custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="public/js/html5shiv.js"></script>
      <script src="public/js/respond.min.js"></script>
    <![endif]-->         
    </head>     
    <body data-spy="scroll" data-target="nav">
        <header id="header-3" class="soft-scroll header-3">
            <nav>
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <nav class="pull">
                            <ul class="top-nav">
                                <li>
                                    <a href="#">Home <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">Pages <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">Contact <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- /.nav -->
            <section class="hero">
                <div class="container">
                    <div class="brand">
                        <a href="#">
                            <img src="public/images/brand/pgblocks-logo-nostrap.png" class="brand-img img-responsive">
                        </a>
                    </div>
                    <div class="navicon">
                        <a id="nav-toggle" class="nav-slide-btn" href="#"><span></span></a>
                    </div>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="editContent">
                            <h1>{{ title }}</h1>
                        </div>
                        <div class="editContent">
                            <p class="lead">{{message}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-info btn-block">Find out more</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-danger btn-block">Buy here</a>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section id="promo-2" class="content-block promo-2 min-height-600px bg-deepocean bg-image-cover">
            <div class="container">
                <div class="coming-soon text-center">
                    <h1>What are you waiting for?</h1>
                    <h2>Sorry our new website is launching very soon.</h2>
                    <div class="row countDown">
                        <div class="countDown-wrap">
                            <span class="digits"></span>
                            <input class="countDown-input day">
                            <div class="digits-label">days</div>
                        </div>
                        <div class="countDown-wrap">
                            <span class="digits"></span>
                            <input class="countDown-input hour">
                            <div class="digits-label">hours</div>
                        </div>
                        <div class="countDown-wrap">
                            <span class="digits"></span>
                            <input class="countDown-input minute">
                            <div class="digits-label">minutes</div>
                        </div>
                        <div class="countDown-wrap">
                            <span class="digits"></span>
                            <input class="countDown-input second">
                            <div class="digits-label">seconds</div>
                        </div>
                    </div>
                    <!-- /.row / counter -->
                </div>
                <!-- /.coming-soon -->
            </div>
            <!-- /.container -->
        </section>
        <div class="copyright-bar bg-black">
            <div class="container">
                <p class="pull-left small">© pgblocks - Pinegrow Blocks</p>
                <p class="pull-right small">Made with <i class="fa fa-heart pomegranate"></i> on Planet Earth</p>
            </div>
        </div>
        <script type="text/javascript" src="public/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="public/js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="public/js/bskit-scripts.js"></script>
    </body>     
</html>
